<h1>Refeições do(a) <%= @client.name %> <%= @dia %></h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Refeição</th>
      <th scope="col">Comida</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
  <% @menu.each do |menu| %>
    <% @food = menu.meal.foods %>
      <% @food.each do |food| %>
        <tr>
          <td><%= menu.meal.desc_meal %></td>
          <td><%= food.desc_food %></td>
          <td> <a class="btn btn-outline-success" href="#" role="button">Editar</a></td>
          <td> <a class="btn btn-outline-danger" href='<%=trainer_delete_food_path(:menu_id => menu.id)%>' data-method='delete' role="button">Excluir</a></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>