<h1><%= @clients.name %></h1>

<h2 class="list_apresentation">Lista de exercícios do cliente</h2>

<div class="container">
  <div class="list-group">
    <a href="/trainers/client_exercises/<%=@clients.id%>/sunday" class="list-group-item">Domingo</a>
    <a href="/trainers/client_exercises/<%=@clients.id%>/monday" class="list-group-item">Segunda-feira</a>
    <a href="/trainers/client_exercises/<%=@clients.id%>/tuesday" class="list-group-item">Terça-feira</a>
    <a href="/trainers/client_exercises/<%=@clients.id%>/wednesday" class="list-group-item">Quarta-feira</a>
    <a href="/trainers/client_exercises/<%=@clients.id%>/thursday" class="list-group-item">Quinta-feira</a>
    <a href="/trainers/client_exercises/<%=@clients.id%>/friday" class="list-group-item">Sexta-feira</a>
    <a href="/trainers/client_exercises/<%=@clients.id%>/saturday" class="list-group-item">Sábado</a>
  </div>
</div> 

<h2 class="list_apresentation">Lista de refeições do cliente</h2>

<div class="container">
 
  <div class="list-group">
    <a href="/trainers/client_food/<%=@clients.id%>/sunday" class="list-group-item">Domingo</a>
    <a href="/trainers/client_food/<%=@clients.id%>/monday" class="list-group-item">Segunda-feira</a>
    <a href="/trainers/client_food/<%=@clients.id%>/tuesday" class="list-group-item">Terça-feira</a>
    <a href="/trainers/client_food/<%=@clients.id%>/wednesday" class="list-group-item">Quarta-feira</a>
    <a href="/trainers/client_food/<%=@clients.id%>/thursday" class="list-group-item">Quinta-feira</a>
    <a href="/trainers/client_food/<%=@clients.id%>/friday" class="list-group-item">Sexta-feira</a>
    <a href="/trainers/client_food/<%=@clients.id%>/saturday" class="list-group-item">Sábado</a>
  </div>
</div>

<div class="botoes_editar_treinador">
  <div>
    <a class="btn btn-outline-success" href="#" role="button">Adcionar rotina de treinos do cliente</a>
  </div>
  <div>
    <a class="btn btn-outline-success" href="#" role="button">Adcionar refeições do cliente</a>
  </div>
</div>
