<h1>Bem-Vindo <%= current_client.name %> </h1>



<div class="container" id = "lineBreak" >
	<div class="row">
    <div class="col-md-12">
      <h4>Treinos do Dia</h4>
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">

             <thead>
             <th>Dia da Semana</th>
             <th>Treino</th>
             <th>Duração</th>

             </thead>
             <tbody>
							 <% @client_routine.each do |e| %>
							 <%if !e.status %>
	                <tr>
	                 <!-- Foreach database - Exercises -->
									<th scope="row"><%= e.day %></th>
									<th scope="row"><%= e.exercise.desc_exercise %></th>
									<th scope="row"><%= e.duration %> min</th>
									<th scope="row"><a class="btn btn-outline-success" href='<%=clients_update_exercise_path(:id => e.id)%>'data-method='delete' role="button">Feito</a></th>
	                </tr>
									<%end%>
									<% end %>
              </tbody>
           </table>
        </div>
	</div>
</div>
</div>
